# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [74]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [75]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

student_df.head()
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [76]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_df, school_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [77]:
school_data_complete_renamed_df = school_data_complete_df.rename(columns = {"student_name": "Student Name", "gender": "Gender", "grade": "Grade",
                                           "school_name": "School Name", "reading_score": "Reading Score",
                                           "math_score": "Math Score", "type": "Type", "size": "Size", "budget":
                                           "Budget"})
school_data_complete_renamed_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [78]:
#Total Schools
total_schools = school_df["School ID"].count()
#Total Students
total_students = student_df["Student ID"].count()
#Total Budget
total_budget = school_df["budget"].sum()
#Average Math Score
average_math_score = student_df['math_score'].mean()
#Average Reading Score
average_read_score = student_df['reading_score'].mean()
#Precentage of Students Passing Math
pre_pass_math = ((student_df['math_score']>=70).sum()/total_students)*100
#Precentage of Students Passing Math
pre_pass_reading = ((student_df['reading_score']>=70).sum()/total_students)*100
#Precentage of Students Passing Overall
pre_pass_overall = ((pre_pass_math+pre_pass_reading)/2)

In [79]:
district_overview_df = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_read_score],
    "% Passing Math":[pre_pass_math],
    "% Passing Reading":[pre_pass_reading],
    "% Passing Overall":[pre_pass_overall]
})
district_overview_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [120]:
# Change index to school name and determine the school type
school_type = school_df.set_index(["school_name"])["type"]
#Total Students
students_by_school = school_data_complete_renamed_df["School Name"].value_counts()
#Total School Budget
school_budget_by_school = school_data_complete_renamed_df.groupby(["School Name"]).mean()["Budget"]
#Per Student Budget
student_budget_by_school = school_budget_by_school/ students_by_school
#Average Math Score
average_math_score_by = school_data_complete_renamed_df.groupby(["School Name"]).mean()["Math Score"]
#Average Reading Score
average_reading_score_by = school_data_complete_renamed_df.groupby(["School Name"]).mean()["Reading Score"]
#% Passing Math
pass_math_by_school =  ((school_data_complete_renamed_df[school_data_complete_renamed_df["Math Score"] > 70].groupby("School Name").count()["Student Name"])/students_by_school) * 100
#% Passing Readings
pass_reading_by_school =  ((school_data_complete_renamed_df[school_data_complete_renamed_df["Reading Score"] > 70].groupby("School Name").count()["Student Name"])/students_by_school) * 100
#Overall Passing Rate (Average of the above two)
overall_passing_rate = (pass_math_by_school + pass_reading_by_school) / 2

In [122]:
School_Summary = pd.DataFrame({"School Type":school_type, "Total Students":students_by_school,
                               "Total School Budget":school_budget_by_school, "Per Student Budget":student_budget_by_school,
                                "Average Math Score":average_math_score_by,"Average Reading Score":average_reading_score_by,
                               "% Passing Math":pass_math_by_school,"% Passing Reading":pass_reading_by_school,
                               "Overall Passing Rate":overall_passing_rate})

# Display the data frame
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,64.630225,79.300643,71.965434
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,65.753925,77.510040,71.631982
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,89.713896,93.392371,91.553134
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,64.746494,78.187702,71.467098
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,90.632319,92.740047,91.686183
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,89.892107,92.617831,91.254969
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,90.214067,92.905199,91.559633
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,90.277778,93.444444,91.861111

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [3]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [4]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.

In [84]:
school_type = school_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [108]:
pass_math_by_school

,Bailey High School,Budget,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,...,Pena High School,Reading Score,Rodriguez High School,School ID,Shelton High School,Size,Student ID,Thomas High School,Wilson High School,Wright High School
School Name,,,,,,,,,,,,,,,,,,,,,
Bailey High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hernandez High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holden High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Huang High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Johnson High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pena High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rodriguez High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shelton High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thomas High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wilson High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wright High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN